stages:
  - build
<% DIRECTORIES.each do |dir| %>
<%= dir %>:
  stage: build
  trigger:
    include: <%= dir %>/.gitlab-ci.yml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - <%= dir %>/**/*
<% end %>