docker-build:
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD"
  script:
    - docker build --pull -t kojix2/<%= dir %>:$CI_COMMIT_SHORT_SHA <%= dir %>
    - docker push kojix2/<%= dir %>:$CI_COMMIT_SHORT_SHA
    - docker build --pull -t kojix2/<%= dir %> <%= dir %>
    - docker push kojix2/<%= dir %>